<header class="page-header">
  <div class="container">
    <h1 class="page-header-logo">
      <%= link_to "PesteR", root_url %>
    </h1>
    <nav class="page-header-nav">
      <ul>
        <li class="page-header-nav-item">
          <%= link_to "Getting Started?", page_path("setup"), class: "page-header-nav-link" %>
        </li>
        <li class="page-header-nav-item">
          <%= link_to "Admin", admin_root_path, class: "page-header-nav-link" %>
        </li>
        <li class="page-header-nav-item">
          <%= link_to "Sign Out", session_path, method: :delete, class: "page-header-nav-link" %>
        </li>
      </ul>
    </nav>
  </div>
</header>

<section class="slice">
  <div class="container">
    <ol class="tags">
      <li>
        <span class="slice-title">
          Filter:
        </span>
      </li>
      <%= render tags %>
    </ol>
  </div>
</section>

<main>
  <div class="container">
    <% if grouped_pull_requests["needs review"].present? %>
      <ol class="table-list">
        <li class="table-list-item">
          <div class="table-list-cell stacked">
            <h3>Needs Review</h3>
            <span class="table-list-cell-subtitle">Pull Requests waiting for feedback</span>
          </div>
        </li>
        <%= render grouped_pull_requests["needs review"] %>
      </ol>
    <% end %>

    <% if grouped_pull_requests["in progress"].present? %>
      <ol class="table-list">
        <li class="table-list-item">
          <div class="table-list-cell stacked">
            <h3>In Progress</h3>
            <span class="table-list-cell-subtitle">Pull Requests with some feedback</span>
          </div>
        </li>
        <%= render grouped_pull_requests["in progress"] %>
      </ol>
    <% end %>
  </div>
</main>
