<header class="page-header">
  <div class="container">
    <h1 class="page-header-logo">
      <%= link_to "Beggar", root_url %>
    </h1>
    <nav class="page-header-nav">
      <%= link_to "Getting Started?", page_path("setup"), class: "page-header-nav-link" %>
      <%= link_to "Sign Out", session_path, method: :delete, class: "page-header-nav-link" %>
    </nav>
  </div>
</header>

<main data-role="pull-request-detail">
  <div class="table-list-cell">
    <img
       src="<%= @pull_request.avatar_url %>"
       alt="<%= @pull_request.user_name %>"
       class="avatar"
    >
  </div>

  <div class="table-list-cell stacked">
    <h2><%= link_to @pull_request.title, @pull_request.github_url, class: "table-list-cell-title" %></h2>
    <span class="table-list-cell-subtitle">
      #<%= @pull_request.number %>
      opened <%= time_ago_in_words @pull_request.created_at %> ago by
      <%= link_to @pull_request.user_name, @pull_request.user_github_url %>
      in
      <%= link_to @pull_request.repo_name, @pull_request.repo_github_url %>
    </span>
  </div>

  <div class="table-list-cell hide-mobile">
    <% @pull_request.tags.each do |tag| %>
      <span class="tag <%= tag.name %>" data-role="tag"><%= tag.name %></span>
    <% end %>
  </div>

  <div class="table-list-cell hide-mobile">
    <div class="comment-count">
      <%= embedded_svg "svg/comment.svg" %>
      <span class="dummy">1</span>
    </div>
  </div>

  <div data-role="history">
    <h3>History</h3>
    <ul>
    	<li data-role="date-added">Added: <%= @pull_request.created_at %></li>
    	<li data-role="date-updated">Updated: <%= @pull_request.updated_at %></li>
    	<li data-role="date-reposted">Reposted: <%= @pull_request.reposted_at %></li>
    	<li data-role="status">Status: <%= @pull_request.status %></li>
    </ul>
  </div>
</main>





