<div class="page-header">
  <div class="container">
    <h1 class="page-header-logo">
      <%= link_to "Pester", root_url %>
    </h1>
    <%= link_to root_url, class: "page-header-nav-link" do %>
      Back to Home &rarr;
    <% end %>
  </div>
</div>

<div class="slice">
  <div class="container">
    <p>Getting Started</p>
  </div>
</div>

<div class="container">
  <div class="content">
    <section>
      <h2>What is Pester?</h2>
      <p>Pester is a tool to help get your pull requests reviewed. Once
      configured, pull requests with a matching <code>#tag</code> will be added
      to the Pester UI and the appropriate Slack channel.</p>
      <p>New PRs have a "Needs Review" status. Once there are one or more
      comments, it will be moved to to "In Progress".</p>
      <p>Any comment containing <code>LGTM</code> will consider the PR
      closed.</p>
      <p>Any comment containing <code>NRR</code> (needs re-review) will kick
      it back to "Needs Review".</p>
    </section>

    <section>
      <h2>Setup: Tags and Channels</h2>
      <p>Configure tags and channels in the <%= link_to "Admin Panel", admin_root_path %>.</p>
      <p>The currently-enabled tags and their associated channels are:</p>
      <table>
        <tr>
          <th>Tag</th>
          <th>Slack Channel</th>
        </tr>
        <% all_tags_channels.each do |tag, channel| %>
          <tr>
            <td>#<%= tag %></td>
            <td><%= channel %></td>
          </tr>
        <% end %>
      </table>
    </section>

    <section>
      <h2>Setup: Add the Webhook to your GitHub repo</h2>
      <ol>
        <li>Visit <code>https://github.com/$ORGANIZATION/$REPO/settings/hooks/new</code>.</li>
        <li>Enter <code><%= ENV["WEBHOOK_URL"] %></code> for the Payload URL.</li>
        <li>Enter <code><%= ENV["GITHUB_SECRET_KEY"] %></code> for the secret.</li>
        <li>Select following event types under "Let me select individual events":
          <ul>
            <li><code>Issue comment</code></li>
            <li><code>Pull Request</code></li>
            <li><code>Pull Request review comment</code></li>
          </ul>
        <li>Submit the webhook.</li>
        <li>
          <p>Submit a PR! When given a matching <code>#tag</code> in the
          description, it will be posted to both the Pester UI and its
          associated Slack channel.</p>
        </li>
      </ol>
    </section>

    <section>
      <h2>Contributing</h2>
      <ul>
        <li>
          Check out the repo on <a href="https://github.com/thoughtbot/pester">GitHub</a>.
        </li>
      </ul>
    </section>
  </div>
</div>
